body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    color:darkslategrey;
}
h2{
    text-align: center;
    font-size: 40px;
    color:darkslategrey;
    font-size: 50px;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
}
h4{
    text-align: center;
    color:darkslategray;
    font-size: 30px;
}
#recipies-text{
    display:flex ;
    text-align: center;
    width: 40%;
    margin: auto;
}
.orange-color{
    color: tomato;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right:8%;
}
.half-width img{
    width: 80%;
    margin-left:20%;
   
}
.link-button{
    background-image: linear-gradient(to right,rgb(255, 115, 0),rgb(255, 92, 71));
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin: 0;
}
.recipies-item{
    width: 50%;
    margin-left:3%;
    margin-right:3%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
    padding:20px;

}
.recipies-item img{
    width: 100%;
}
p{
    font-size:20px;
}
.footer-banner{
    background-color:rgb(30, 30, 49);
    padding-top: 5px;
    padding-bottom: 60px;
    margin:0;
}
.footer-text{
    color: white;
    text-align: center;
}
ul{
    text-align:right;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
    color:white;
    font-weight: 700;
    padding: 15px 20px;
    background-image: linear-gradient(to right,rgb(255, 115, 0),rgb(255, 92, 71));
}
.top-bar{
    background-color: teal;
    width: 100%;
    height:200px;
    padding-top: 5px;

}
#top{
    color: white;
    text-align: center;
}
.search{
    margin-top: 20px;
    text-align: center;
}
input{
    border: 3px solid black;
    height: 40px;
    width: 300px;
    font-size: 20px;
}
.search-btn{
    height: 40px;
    border: 3px solid black;
    background-color: gray;
    color: white;
    font-size: 20px;
}